.events-page {
    padding: 1.5rem;
}

.events-title-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.events-page .events-title-bar h1 {
    margin-bottom: 1rem;
    font-size: 2.5rem;
    color: #fff
}

.events-page .events-title-bar button.add-btn {
    padding: 10px 15px;
    background-color: #248027;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s;
    width: 200px;
}

.events-page .events-title-bar button.add-btn:hover {
    background-color: #179c41;
}

.events-page .events-table {
    width: 100%;
    border-collapse: collapse;
}

.events-page .events-table th,
.events-page .events-table td {
    padding: 12px 15px;
    border: 1px solid #ffffff44;
    text-align: left;
}

.events-page .events-table th {
    background-color: #0d121cc8;
    color: white;
    font-weight: 400;
}

.events-page .events-table tbody tr:hover {
    background-color: #212d409c;
}

.runtime {
    color: #f5f5f5;
    font-size: 0.9rem;
}




