.settings-page {
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding: 20px;
    background-color: #1d2634;
}

.main-content {
    display: flex;
    flex: 1;
}

.settings-content {
    flex: 1;
    padding: 20px;
    background-color: #1d2634;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgb(249, 249, 249);
}

.settings-options {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 20px;
}

.option {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.option label {
    font-weight: bold;
}

.option select {
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.btn {
    padding: 8px 12px;
    margin: 5px;
    background-color: #179c41;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.btn:hover {
    background-color: #248027;
}